{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="articles">
       <div class="row">
           {% for article in articles %}
               <article class="col-4 mt-4">
                   <div class="card">
                       <img class="card-img-top h-50" src="{{ article.image }}" alt="{{ article.title }}">
                       <div class="card-body">
                           <h5 class="card-title">{{ article.title }}</h5>
                           <p class="card-text"> {{ article.content | raw }}</p>
                       </div>
                       <ul class="list-group list-group-flush">
                           <li class="list-group-item">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}  dans la categorie
                               {{ article.category.title }}</li>
                       </ul>
                       <div class="card-body">
                           <a href="{{ path('blog_show', { id: article.id }) }}" class="btn btn-primary card-link">lire la suite</a>
                       </div>
                   </div>
               </article>
           {% endfor %}
       </div>
    </section>
{% endblock %}
