{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <article>
                <div class="card border-secondary mb-3" style="max-width: 40rem;">
                    <div class="card-header">
                        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }}
                            à {{ article.createdAt | date('H:i') }}
                            dans la categorie
                            {{ article.category.title }}</div>
                    </div>
                    <img src="{{ article.image }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ article.title }}</h4>
                        <p class="card-text">{{ article.content | raw }}</p>
                    </div>
                </div>

                <a href="{{ path('blog_edit', {'id' : article.id}) }}" class="btn btn-primary">modifier</a>
            </article>
        </div>
        <div class="col">
            <section id="commentaires" class="mt-4">
                <h5>{{ article.comments | length }} commentaires</h5>


                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Auteur</th>
                        <th scope="col">Contenu</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comment in article.comments %}
                        <tr class="table-secondary">
                            <th scope="row">{{ comment.createdAt | date('d/m/Y à H:i') }}</th>
                            <td>{{ comment.author }}</td>
                            <td>{{ comment.content | raw }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>




        {% if app.user %}
            {{ form_start(form) }}
            {{ form_row(form.author, {'attr': {'placeholder': "Votre commentaire"}}) }}
            {{ form_row(form.content, {'attr': {'placeholder': "Votre contenu"}}) }}
            <button type="submit" class="btn btn-success">enregistrer</button>
            {{ form_end(form) }}
        {% else %}
            <a class="" href="{{ path('security_login') }}">Connectez vous pour laisser un commentaire</a>
        {% endif %}


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>

        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}

